<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Online Ahopping App Test Suit">
  <test thread-count="1" name="Online Shopping App Test">
    <classes>
     	<class name="com.OnlineApp.qa.testcases.RegisterUser"/>
      	<class name="com.OnlineApp.qa.testcases.VerifyOrderHistory"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
